body{
    background: #e7eaeb;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 5%;
    width: 100%;
}

h1{
    color: black;
    font-family: "Cormorant Garamond", serif;
    font-size: 5vw;
    font-weight: 100;
    margin-top: 3%;
}

h2{
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
}

h3{
    font-family: "Cormorant Garamond", serif;
    font-size: 2.3vw;
}

h4{
    font-family: "Cormorant Garamond", serif;
    font-size: 2vw;
}

p{
    color: black;
    font-family: "Forum", serif;
    font-size: 2vw;
    margin: 0.5%;
}

button{
    background-color: #e7eaeb;
    border: 2px solid #0a8d7d;
    color: #0a8d7d;
    font-family: "Forum", serif;
    font-weight: bold;
    width: 20%;
}

ul{
    color: black;
    font-family: "Forum", serif;
    font-size: 1.5vw;
}

a{
    color: black;
    font-family: "Forum", serif;
    font-size: 1.5vw;
    text-decoration: none;
}

#mainmargin{
    color: black;
}

#mainh4{
    color: #0a8d7d;
    margin-top: 8%;
}

#directionsh4{
    margin-bottom: 5%;
    text-decoration: underline;
}

#rsvph4{
    color: #0a8d7d;
}

#coords{
    padding-top: 1%;
}

#directionsh1{
    font-size: 2.3vw;
    margin-bottom: 2%;
    margin-right: 1%;
    margin-top: 6%;
}

#pcol1{
    margin: 0.1%;
    width: 90%;
}

#pcol2{
    margin: 0.1%;
    margin-left: 3%;
    width: 100%;
}

#accomodationh1{
    font-size: 2.9vw;
    margin-bottom: 2%;
    margin-left: 6%;
    padding-top: 8%;
}

#aih1{
    font-size: 3.5vw;
    margin-bottom: 5%;
    padding-top: 4%;
}

.aih3{
    margin-bottom: 4%;
    margin-top: 4%;
}

.container{
    text-align: center;
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: end;
    overflow: hidden;
    position: fixed;
    text-align: end;
    top: 0;
    width: 100%;
}

.nav-link {
    background-color: #e7eaeb;
    color: #0a8d7d;
    font-family: "Cormorant Garamond", serif;
    font-size: 2vw;
    font-weight: 900;
    margin-right: 3%;
    text-align: center;
}

.nav-link:hover{
    background-color: #0a8d7d;
    color: #e7eaeb;
}

@media (max-width: 480px) {
    body{
        background: #e7eaeb;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        margin: 0;
        padding: 0;
        padding-top: 5%;
        width: 100%;
    }
    h1 {
        font-size: 4vw;
    }
    h3, h4, p {
        font-size: 2vw;
    }
    #mainh4{
        color: #0a8d7d;
        margin-top: 7%;
    }
    #rsvph4{
        color: #0a8d7d;
        margin-top: 7%;
    }
    #rsvpModal{
        margin-left: 17.5%;
        width: 70%;
    }
    #rsvpBtn{
        font-size: 1.5vw;
    }
    #mainpage {
        background-color: #e7eaeb;
        background-image: url("./Images/BackgroundImageHome.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    #ourstory{
        background: #e7eaeb;
        background-image: url("../css/Images/BackgroundImageOurStory.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
    }
    
    #celebrate{
        background: #e7eaeb;
        background-image: url("../css/Images/BackgroundImageCelebrate.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        padding-top: 5%;
    }
    
    #directions{
        background: #e7eaeb;
        background-image: url("../css/Images/BackgroundImageDirections.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    #accommodation{
        background: #0a8d7d;
        background-image: url("../css/Images/BackgroundImageAccommodation.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    #additionalinfo{
        background: #e7eaeb;
        background-image: url("../css/Images/BackgroundImageAdditionalInfo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #presence{
        background: #e7eaeb;
        background-image: url("../css/Images/BackgroundImagePresence.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #rsvp{
        background: #e7eaeb;
        background-image: url("../css/Images/BackgroundImageRSVP2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #menu{
        background: #e7eaeb;
        background-image: url("../css/Images/BackgroundImageMenu.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #songrequest{
        background: #e7eaeb;
        background-image: url("../css/Images/BackgroundImageSongRequests.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #thankyou{
        background: #e7eaeb;
        background-repeat: no-repeat;
        background-size: cover;
        color: #0a8d7d;
        height: 100%;
        margin: 0;
        padding: 0;
        padding-top: 5%;
        width: 100%;
    }

    .nav-link{
        font-size: 2.5vw;
    }
}

@media (max-width: 768px) {
    body{
        background: #e7eaeb;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        margin: 0;
        padding: 0;
        padding-top: 5%;
        width: 100%;
    }
    h1 {
        font-size: 4vw;
    }
    h3, h4, p {
        font-size: 2vw;
    }
    #mainh4{
        color: #0a8d7d;
        margin-top: 7%;
    }
    #rsvph4{
        color: #0a8d7d;
        margin-top: 3%;
    }
    #rsvpModal{
        margin-left: 17.5%;
        width: 70%;
    }
    #rsvpBtn{
        font-size: 1.5vw;
    }
    #mainpage {
        background-color: #e7eaeb;
        background-image: url("./Images/BackgroundImageHome.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    #ourstory{
        background: #e7eaeb;
        background-image: url("../css/Images/BackgroundImageOurStory.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
    }
    
    #celebrate{
        background: #e7eaeb;
        background-image: url("../css/Images/BackgroundImageCelebrate.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        padding-top: 5%;
    }
    
    #directions{
        background: #e7eaeb;
        background-image: url("../css/Images/BackgroundImageDirections.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    #accommodation{
        background: #0a8d7d;
        background-image: url("../css/Images/BackgroundImageAccommodation.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    #additionalinfo{
        background: #e7eaeb;
        background-image: url("../css/Images/BackgroundImageAdditionalInfo.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #presence{
        background: #e7eaeb;
        background-image: url("../css/Images/BackgroundImagePresence.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #rsvp{
        background: #e7eaeb;
        background-image: url("../css/Images/BackgroundImageRSVP2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #menu{
        background: #e7eaeb;
        background-image: url("../css/Images/BackgroundImageMenu.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #songrequest{
        background: #e7eaeb;
        background-image: url("../css/Images/BackgroundImageSongRequests.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #thankyou{
        background: #e7eaeb;
        background-repeat: no-repeat;
        background-size: cover;
        color: #0a8d7d;
        height: 100%;
        margin: 0;
        padding: 0;
        padding-top: 5%;
        width: 100%;
    }
    .nav-link{
        font-size: 2.5vw;
        margin-bottom: 5%;
    }
    
}

@-webkit-keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
  
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
  
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
  }

#mainpage {
    background-color: #e7eaeb;
    background-image: url("./Images/BackgroundImageHome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#ourstory{
    background: #e7eaeb;
    background-image: url("../css/Images/BackgroundImageOurStory.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    padding-top: 5%;
}

#celebrate{
    background: #e7eaeb;
    background-image: url("../css/Images/BackgroundImageCelebrate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    padding-top: 5%;
}

#directions{
    background: #e7eaeb;
    background-image: url("../css/Images/BackgroundImageDirections.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
}

#accommodation{
    background: #0a8d7d;
    background-image: url("../css/Images/BackgroundImageAccommodation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
}

#additionalinfo{
    background: #e7eaeb;
    background-image: url("../css/Images/BackgroundImageAdditionalInfo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#presence{
    background: #e7eaeb;
    background-image: url("../css/Images/BackgroundImagePresence.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#rsvp{
    background: #e7eaeb;
    background-image: url("../css/Images/BackgroundImageRSVP2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#menu{
    background: #e7eaeb;
    background-image: url("../css/Images/BackgroundImageMenu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#songrequest{
    background: #e7eaeb;
    background-image: url("../css/Images/BackgroundImageSongRequests.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#thankyou{
    background: #e7eaeb;
    background-repeat: no-repeat;
    background-size: cover;
    color: #0a8d7d;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 5%;
    width: 100%;
}

#ourstoryimg{
    width: 100%;
}

#celebrateimg{
    margin-top: 20%;
    width: 100%;
}

#presenceimg{
    width: 100%;
}

#rsvpimg{
    width: 100%;
}

#songrequestimg{
    width: 40%;
}

#presencerow{
    margin-top: 5%;
}

#presencep1{
    margin-top: 5%;
}

.ourstoryp{
    font-family: "Forum", serif;
    font-size: 1.5vw;
}

#accommodationlist{
    font-family: "Forum", serif;
    list-style: none;
    text-align: left;
}

#accommodationimg{
    width: 100%;
}

.menulistheading{
    font-size: 1.5vw;
    font-style: italic;
}

.menulist{
    font-size: 1.2vw;
    font-style: italic;
}

#additionalFields, #additionalSubmissions1, #additionalSubmissions2, #additionalSubmissions3{
    display: none;
}

#formheader{
    background: #e7eaeb;
    color:#0a8d7d;
    font-family: "Cormorant Garamond", serif;
    font-weight: 900;
}

#rsvpForm, #headerclose{
    color:#0a8d7d;
    font-family: "Cormorant Garamond", serif;
}

.form-select{
    color:#0a8d7d;
    font-family: "Cormorant Garamond", serif;
}

#rsvpBtn, #footerBtn{
    border: solid 2px #0a8d7d;
    color: #0a8d7d;
}

#rsvpBtn:hover, #footerBtn:hover{
    background-color: #0a8d7d;
    color: #e7eaeb;
}

#rsvpBtn{
    font-size: 1.5vw;
}

#footerBtn{
    font-size: 1.5vw;
    float: left;
    width: 100%;
}

#tyBtn{
    width: 7%;
}

#tyLink{
    background-color: #e7eaeb;
    color: #0a8d7d;
    font-size: 1vw;
    text-decoration: none;
    width: 100%;
}


  