body{
    background: #e7eaeb;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-top: 5rem;
    width: 100%;
}

h1, p{
    color: black;
    margin: 3%;
}

p{
    font-family: "Forum", serif;
}

h1, h2, h3, h4{
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
}

button{
    background-color: #e7eaeb;
    border: 2px solid #0a8d7d;
    color: #0a8d7d;
    font-family: "Forum", serif;
    font-weight: bold;
    width: 20%;
}

#mainmargin{
    color: black;
    margin: 5%;
}

#mainh4{
    color: #0a8d7d;
    margin-top: 3%;
}

h1{
    font-size: 5vw;
}

h3{
    font-size: 3vw;
}

h4, p{
    font-size: 2vw;
}

.container{
    text-align: center;
    width: 100%;
}

.nav-link {
    background-color: #e7eaeb;
    color: #0a8d7d;
    font-family: "Cormorant Garamond", serif;
    font-size: 1.4vw;
    font-weight: 900;
}

@media (max-width: 768px) {
    h1 {
        font-size: 4vw;
    }
    h3, h4, p {
        font-size: 2vw;
    }
}
#mainpage {
    background-color: #e7eaeb;
    background-image: url("./Images/BackgroundImageHome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

#ourstory{
    background: #e7eaeb;
    background-image: url("../css/Images/BackgroundImageOurStory.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    padding-top: 5rem;
}

#celebrate{
    background: #e7eaeb;
    background-image: url("../css/Images/BackgroundImageCelebrate.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    padding-top: 5rem;
}

#directions{
    background: #e7eaeb;
    background-image: url("../css/Images/BackgroundImageDirections.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#accommodation{
    background: #e7eaeb;
    background-image: url("../css/Images/BackgroundImageAccommodation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#additionalinfo{
    background: #e7eaeb;
    background-image: url("../css/Images/BackgroundImageAdditionalInfo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#presence{
    background: #e7eaeb;
    background-image: url("../css/Images/BackgroundImagePresence.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#rsvp{
    background: #e7eaeb;
    background-image: url("../css/Images/BackgroundImageRSVP2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#menu{
    background: #e7eaeb;
    background-image: url("../css/Images/BackgroundImageMenu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#songrequest{
    background: #e7eaeb;
    background-image: url("../css/Images/BackgroundImageSongRequests.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#thankyou{
    background: #e7eaeb;
    /* background-image: url("../css/Images/BackgroundImageRSVP2.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    color: #0a8d7d;
}

#ourstoryimg{
    width: 100%;
}

#celebrateimg{
    margin-top: 30%;
    width: 100%;
}

#presenceimg{
    width: 100%;
}

#rsvpimg{
    width: 100%;
}

#songrequestimg{
    width: 40%;
}

#presencerow{
    margin-top: 5%;
}

.ourstoryp{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vw;
}

ul{
    color: black;
    font-size: 2vw;
    font-weight: bold;
}

#accommodationlist{
    list-style: none;
    text-align: left;
}

#accommodationimg{
    width: 100%;
}

.menulistheading{
    font-size: 1.5vw;
    font-style: italic;
}

.menulist{
    font-size: 1.2vw;
    font-style: italic;
}

#additionalFields, #additionalSubmissions1, #additionalSubmissions2, #additionalSubmissions3{
    display: none;
}

#formheader{
    background: #e7eaeb;
    color:#0a8d7d;
    font-family: "Cormorant Garamond", serif;
    font-weight: 900;
}

#rsvpForm, #headerclose{
    color:#0a8d7d;
    font-family: "Cormorant Garamond", serif;
}

.form-select{
    color:#0a8d7d;
    font-family: "Cormorant Garamond", serif;
}

#rsvpBtn, #footerBtn{
    border: solid 2px #0a8d7d;
    color: #0a8d7d;
}

#rsvpBtn:hover, #footerBtn:hover{
    background-color: #0a8d7d;
    color: #e7eaeb;
}

#footerBtn{
    font-size: 1vw;
    color: #0a8d7d;
    width: 40%;
}


  